<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange Info</title>
</head>
<body>
    {% if session %}
    <h1>{{session.user.email}} Logged In</h1>
    <p>
        <a href=https://docs.google.com/spreadsheets/d/1HcChnGIM6MFqXnbk-gixjiSHcklaCTgsCaCexMw9FeY/edit?usp=sharing
           target="_blank">
            Currency Exchange Rates
        </a>
    </p>
    <p>{{session['update result']}}</p>
    <form action="/update" method="post">
        <input type="date" name="update from"> - update from
        <input type="date" name="update to"> - update to
        <input type="submit" value="Send">
    </form>
    <p>Note: it would take about 5 seconds to update spreadsheet data</p>
    <p><a href="{{url_for('logout')}}">Logout</a></p>
    {% else %}
    <p><a href="{{url_for('login')}}">Login with Google</a></p>
    {% endif %}
</body>
</html>